/* reset */


* {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {/*The comma means that every html and body tag will be affected*/
  height: 100%;
}


/* l li {/*NO comma means that only the list in that ONE ul list will be affected*/
/*
}*/
